# Drizzle
# Replace with your DB credentials!
DATABASE_URL="postgres://user:password@localhost:5432/micromanus"

ORIGIN="https://micromanus.tsuzat.com"
VALKEY_URL="redis://user:password@localhost:26148"

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET="placeholder-secret-change-in-production"
# GitHub OAuth
# https://www.better-auth.com/docs/authentication/github
GITHUB_CLIENT_ID="placeholder"
GITHUB_CLIENT_SECRET="placeholder"

GOOGLE_CLIENT_ID="placeholder"
GOOGLE_CLIENT_SECRET="placeholder"

POLAR_PRODUCT_ID="placeholder"
POLAR_ACCESS_TOKEN="placeholder"
POLAR_WEBHOOK_SECRET="placeholder"

COUPON_CODE="SID_DRDROID"

API_KEY_ENCRYPTION_SECRET="placeholder-secret-change-in-production"

SERP_API_KEY="placeholder"
GOTENBERG_URL="https://sample.com"